########################
# OS
########################
.DS_Store
Thumbs.db

########################
# IntelliJ IDEA
########################
.idea/
*.iml

########################
# VS Code
########################
.vscode/

########################
# Java / Maven
########################
**/target/
**/*.log

########################
# Java runtime files
########################
music-forum-springboot/files/

########################
# Node / Vue
########################
**/node_modules/
**/dist/
**/.cache/

########################
# Env files
########################
# **/.env

########################
# Temporary files
########################
*.tmp
*.temp
*.swp

########################
# Others
########################
others/*