<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.springboot.mapper.CommentLikeMapper">
    
    <!-- 获取评论的点赞数量 -->
    <select id="countLikesByCommentId" resultType="java.lang.Integer">
        SELECT 
            COUNT(*)
        FROM 
            comment_like
        WHERE 
            comment_id = #{commentId} AND status = 1
    </select>
    
    <!-- 查询评论是否被用户点赞 -->
    <select id="selectLikeByCommentIdAndUserId" resultType="org.example.springboot.entity.CommentLike">
        SELECT 
            id, comment_id, user_id, create_time, status
        FROM 
            comment_like
        WHERE 
            comment_id = #{commentId} AND user_id = #{userId}
        LIMIT 1
    </select>
    
</mapper> 